* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.smaller-wrapper {
  padding: 15px;
  border-radius: 10px;
  background-color: grey;
}

.screen {
  width: 30vw;
  height: 70px;
  background-color: lightgray;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.buttons {
  margin: 20px 0;
  width: 30vw;
  height: 50vh;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  gap: 10px 15px;
}

.decimal {
  font-weight: 700;
}
